@keyframes bounce{
    0%{
        bottom:-140px;
        animation-timing-function: ease-out;
    }
    50%{
        bottom:20px;
        animation-timing-function: ease;
    }

    100%{
        bottom:10px;
        animation-timing-function: ease-in;
    }
}

@keyframes bgGradation{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 100% 0;
    }
    0%{
        background-position: 0 0;
    }
}

@keyframes fadeIn{
    0%{
        opacity:0;
        transform:translateY(20px);
    }
    100%{
        opacity:1;
        transform:none;
    }
}
